.signin-banner{
  background: var(--ion-color-white);
  box-shadow: rgba(197, 218, 9, 0.493) 0px 4px 16px;
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
@media (min-width: 768px) {
  .signin-banner{
    max-width: 350px;
  }
}
